@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
/* ========== Primary Styles ========== */
#info {
  color: @purple;
  z-index: 2;
  position: absolute;
  margin-top: 20px;
  margin-left: 350px;
  font-size: 2em;
}

h2 {
  color: @purple;
}