@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
/* ========== Primary Styles ========== */
#info {
  color: @purple;
  z-index: 2;
  position: absolute;
  margin-top: 20px;
  margin-left: 350px;
  font-size: 2em;
}

h2 {
  color: @purple;
}

.right-panel {
  width: 50%;
  float: left;
  h2, h3 {
    padding: 2px;
    margin: 0 10px 0 10px;
  }
}

.left-panel {
  width: 50%;
  float:left;
  h2, h3 {
    padding: 2px;
    margin: 0 10px 0 10px;
  }
}

.center-panel {
  width: 50%;
  heigth: auto;
  margin: 0 auto;
  clear: both;
  h2, h3 {
    padding: 2px;
    margin: 0 10px 0 10px;
  }
}

#main-buttons {
  padding-top: 50px;
}

#deputies-table {
  display: none;
}

#deputies-datatable_filter {
}

#deputies-datatable_length {
  display: none;
}

#deputies-datatable_info {
  width: 250px;
  margin: 0;
}

.span6 {
  width: 45%;
}

.dataTables_paginate {
  margin: 0;
  float: right;
}