{% extends 'base.html' %}
{% block main-content %}
<div id='content'>
  <div class="well">
    <h1>¿Sabes quién te representa en la cámara de Diputados?</h1>
    <h2>Contacta a tu diputado</h2>
  </div>
  <div class="hero-unit">
    <h1>{{ representative.name }} {{ representative.lastname }}<h1>
      <p>
        {% if representative.party %}
        Diputado por el <b>{{ representative.party }}.</b>
        {% endif %}
        {% if representative.election_type %}
        Electo mediante <b>{{ representative.election_type }}</b>
        {% endif %}
      <p>
      <p>
        {% if representative.district %}
        Representa el distrito <b>{{ representative.district }}</b>
        {% endif %}
        {% if representative.entity %}
        De <b>{{ representative.entity }}</b>
        {% endif %}
      </p>
      {% if representative.bio %}
      <h2>Biografía</h2><p> {{ representative.bio }}</p>
      {% endif%}
      {% if representative.commissions %}
      <h2>Comisiones</h2><p>{{ representative.commissions }}</p>
      {% endif %}
      <h2>Contactar</h2>
      <p>
        {% if representative.phone %}
        <img src="{{ STATIC_URL }}main/images/phone.png"/>{{ representative.phone }} Ext {{ representative.extension }}
        {% endif %}
        {% if representative.email %}
        <img src="{{ STATIC_URL }}main/images/mail.png"/>{{ representative.email }}
        {% endif %}
        {% if representative.twitter %}
        <img src="{{ STATIC_URL }}main/images/twitter_purple.png"/>{{ representative.twitter }}
        {% endif %}
      </p>
  </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}main/js/detail.js"></script>
{% endblock js %}
