{% extends 'base.html' %} 
{% block main-content %}
<div id='content'>
  <div class="hero-unit">
    <h1>Conoce a tu Diputado</h1>
  </div>
  <div class="left-panel">
    <h2>¿Que son los Diputados?</h2>
    <h3>
      Son los representantes del pueblo y son elegidos por el voto libre y secreto de los ciudadanos.Tienen la labor de discutir y aprobar las leyes que reglamentarán la conducta de la sociedad.
    </h3>
  </div>
  <div class="right-panel">
    <h2>¿Tu Diputado cumple con sus responsabilidades?</h2>
    <h3>
      No existe un organismo autónomo que lo supervise. Ante el panorama de opacidad actual
      es necesario que nosotros los ciudadanos observemos sus actividades y exigamos que cumplan con sus responsabilidades.
    </h3>
  </div>
  <div id="main-buttons" class="center-panel">
    <h1>Ejerce tu derecho de exigir buenos resultados</h1><br /><br /><br />
    <a href="{% url search %}" class="btn btn-primary btn-large">
      Busqueda Inteligente
    </a>
    <a href="{% url map %}" class="btn btn-primary btn-large">
      &nbsp;&nbsp;&nbsp;Mapa Interactivo&nbsp;&nbsp;
    </a>
  </div>
</div>

{% endblock main-content %}