{% extends 'base.html' %} 
{% block main-content %}
<div id='content'>
  <div class="well">
    <h1>¿Sabes quien te representa en la camara de Diputados?</h1>
    <h2>Haz una busqueda combinando tus criterios</h2>
  </div>
  <div class="panel">
    <div id="political-groups">
      <img src="{{STATIC_URL }}main/images/pri.png">
      <img src="{{STATIC_URL }}main/images/pan.png">
      <img src="{{STATIC_URL }}main/images/prd.png">
      <img src="{{STATIC_URL }}main/images/pt.png">
      <img src="{{STATIC_URL }}main/images/panal.png">
      <img src="{{STATIC_URL }}main/images/pvem.png">
      <img src="{{STATIC_URL }}main/images/convergencia.png">
    </div>
    <input type="text" id="specific-search" placeholder="Busca por Estado, Distrito, Género, Nombre, Apellido o Tipo de elección..."/>
    <table cellpadding="0" cellspacing="0" border="0" id="deputies-search-datatable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Partido</th>
          <th>Tipo de Elección</th>
          <th>Contactar</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}main/js/search.js"></script>
{% endblock js %}